@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background:
    /* radial-gradient(ellipse 60% 50% at 50% -30%, rgba(250, 250, 250, 15%) 0%, rgb(8 0 0 / 0%)) no-repeat,
    radial-gradient(ellipse 80% 35% at 50% -10%, rgba(150,65,193, 60%) 0%, rgb(8 0 0 / 0%)) no-repeat,
    radial-gradient(ellipse 25% 25% at 30% -15%, rgba(34, 211, 238, 80%) 0%, rgb(8 0 0 / 0%)) no-repeat,
    radial-gradient(ellipse 15% 15% at 60% -10%, rgba(254, 240, 138, 80%) 0%, rgb(8 0 0 / 0%)) no-repeat;
} 

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply rounded-[3px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[3px] border-2 border-neutral-300 bg-neutral-600 dark:bg-neutral-400;
}

@layer components {
  .hexagon {
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  }
}

@keyframes gold-shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.gold-shimmer {
  background: linear-gradient(90deg, #FFD602 0%, #EFB003 50%, #FFD602 100%);
  background-size: 200% 100%;
  animation: gold-shimmer 3s ease-in-out infinite;
  color: black;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.author-gradient-border {
  position: relative;
  background: #a7f3d0;
  color: black;
}

.dark .author-gradient-border {
  background: #052e16;
  color: white;

}



.author-gradient-border::after,
.author-gradient-border::before {
  content: '';
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from var(--angle), #1E1E1E00, #2CCB88, #1E1E1E00, #1E1E1E00, #1E1E1E00);
  top: -1px;
  left: -1px;
  z-index: -1;
  border-radius: inherit;
  animation: spin 3.5s linear infinite;
}

.author-gradient-border::before {
  filter: blur(7px);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.google-profile-border {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background: conic-gradient(
    from -20deg,
    #DB4437 0deg 90deg,
    #4285F4 90deg 210deg,
    #0F9D58 210deg 300deg,
    #F4B400 300deg 360deg
  );
  padding: 2px;
}

.google-profile-border::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
  z-index: 1;
}

.dark .google-profile-border::before {
  background: #121212;
}
